<section class="kitchen-s1 container-fluid d-flex minh-50vh bg-light align-items-center py-5 border-top border-secondary">
    <div class="row mx-0 w-100 mt-5">
        <div class="col-12 col-md-7 minh-25vh order-1 order-md-2"></div>
        <div class="col-12 col-md-5 minh-50vh order-2 order-md-1 d-flex align-items-center">
            <div class="w-100 text-center text-md-start">
                <h5 class="text-secondary">
                    Sed ut perspiciatis
                </h5>
                <h2 class="dispaly-6 fw-bold text-dark">
                    Unde omnis iste
                </h2>
                <p class="text-dark">
                    Natus error sit voluptatem accusantium doloremque laudantium, 
                    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis 
                    et quasi architecto beatae vitae dicta sunt explicabo. Nemo 
                    enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut 
                    fugit, sed quia consequuntur magni dolores eos qui ratione 
                    voluptatem sequi nesciunt. Neque porro quisquam est
                </p>
            </div>
        </div>
    </div>
</section>