$prefix: "../../../assets/";
$bg__bedroom-img: $prefix+"img/bedroom/bedroom-s1.jpg";
$bg__comingsoon-img: $prefix+"img/coming.jpg";
$bg__contact-img: 
    $prefix+"img/contact/contact-s1.jpg",
    $prefix+"img/contact/contact-s2.jpg",
    $prefix+"img/contact/contact-s3.jpg";
$bg__error-img: $prefix+"img/error.jpg";
$bg__index-img: 
    $prefix+"img/index/index-s1.jpg",
    $prefix+"img/index/index-s2.jpg",
    $prefix+"img/index/index-s3.jpg";
$bg__kitchen-img: $prefix+"img/kitchen/kitchen-s1.jpg";
$bg__livingroom-img: $prefix+"img/livingroom/livingroom-s1.jpg";
$bg__privacy-img: $prefix+"img/privacy.jpg";
$bg__user-img: $prefix+"img/user/user-s1.jpg";
$bg__init:
    "bedroom",
    "comingsoon",
    "contact",
    "error",
    "index",
    "kitchen",
    "livingroom",
    "privacy",
    "user";
$classes_init:
    $bg__bedroom-img,
    $bg__comingsoon-img,
    $bg__contact-img,
    $bg__error-img,
    $bg__index-img,
    $bg__kitchen-img,
    $bg__livingroom-img,
    $bg__privacy-img,
    $bg__user-img;
$footer-height: 41px;
$text__shadow: 1px 1px 3px #333;